/*Text*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #092b3a;
}

h2{
    margin-top : 0px;

}
h1 {
    color: #ff8773
}
h2, strong {
    color: #FFBEA1;
  
}
h5 {
    color: #092b3a;
    margin-top: 0px
}
a {
    color: #51E0CE;
    font-size: 13px;
    font-weight: bold;
    width: 75%;

    margin-right: 10px
}
i{
    font-size: 30px
}
.header {
    background-image: url("header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.button {
    background-color: #4CAF50;
}

select {
    color: white;
    background-color: #ff8773;
    border-radius: 7px;
    border: none;
    border-color: #ff8773;
    padding: 3px;
    font-size: 13px ;
    cursor: pointer
}
option {
    background-color: #FFBEA1;
    color: white;
    padding: 0px;
    font-size: 13px
}
.pagination input {

    color: white;
    background-color: #8FB8C1;
    padding: 3px;
    border-radius: 7px;
    border: none;
    cursor: pointer
}
.pagination input:hover {
    background-color: #8FB8C1C4;
}

select:hover {
    background-color: #FF8773D4;
}



/*Products content*/
.image img{
    height : 200px;
    width : auto;

}
.product {
    text-align: left;
    margin-bottom: 2em;
    border: 2px solid rgb(77, 86, 128);
    padding-left : 10px;

    background-clip: content-box;
}
.product-im{
    text-align : right;
}

.column {
    float: left;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color : #fff;

}
.left {
    width: 44%;
    height : 200px;
    margin-right: 20px;
}
.right {
    width: 43%;
    height: 200px;
    column-width: 60px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    width: 900px;
    margin-top: 20px
}
.cards{
    display:flex;
    flex-wrap:wrap;
    align-content : center
        
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 226px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-right: 20px;
    padding : 10px;
}

.image-container {
    position: relative;
}

.thumbnail-image {
    border-radius: 10px !important;
    height: 230px;
    width: 226px;
}


.wishlist {
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

.first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.dress-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}

.brand-name {
    font-size: 13px;
    width: 75%
}

.new-price {
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #ff8773;
    padding: 5px;
    border-radius: 20%
}

/*footer*/

footer {
    margin-top: 100px;
    background-color: #FFBEA1;
    display: flex;
    color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-distributed a {
    text-decoration: none;
    color: inherit;
    font-size:15px

}









/* Media Queries */

