body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width:50em;
    line-height:1.5;
    padding: 4em 1em;
    color: #555;

}

h2{
    margin-top: 1em;
    padding-top: 1em;
}
h1, h2, strong {
    color: #FFBEA1;
}
h5 {
    color: #FFBEA1;
    margin-left: 10px;
    margin-top : 0px
}
a {
    color: #51E0CE;
    font-size: 13px;
    font-weight: bold;
    width: 75%;
    margin-left: 10px;
    margin-right: 10px
}
.header {
    background-image: url("header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}
.button {
    background-color: #4CAF50;
}
.choix show {
    background-color: #4CAF50;
    min-width: 50px;
}
.choix option {
    background-color: #f28c8c;
    color: white;
    padding: 20px;
    display: block;
}
.image img{
    height : 200px;
    width : auto;

}
.product {
    text-align: left;
    margin-bottom: 2em;
    border: 2px solid rgb(77, 86, 128);
    padding-left : 10px;

    background-clip: content-box;
}
.product-im{
    text-align : right;
}





.container {
    width: 900px;
    margin-top: 20px
}
.cards{
    display:flex;
    flex-wrap:wrap;
    align-content : center
        
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-right: 20px;
}

.image-container {
    position: relative;
}

.thumbnail-image {
    border-radius: 10px !important;
    height: 200px;
    width: 200px;
}


.wishlist {
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

.first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.dress-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}

.brand-name {
    font-size: 13px;
    width: 75%
}

.new-price {
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    color: red
}

footer {
    margin-top: 100px;
    background-color: #FFBEA1;
    display:flex;
    color: white;
    border-radius: 10px;
    flex-wrap:wrap;
    padding : 20px;
}
footer .social-media{
    display:flex;
}
footer .social-media p {
    text-align : center;
    margin-right: 15px;
}